
  @media screen and (max-width: 700px) {
    .hdr{
        display:flex;
        justify-content: flex-start;
    }
    .topHdr  .hdrBtm{
        max-width: 500px;
        display:flex;
        align-items:center ;
        justify-content: center!important;
    }
    .hdrBtm  img.lg{
        width: 54px ;
        height: 44px;
    }
    .hdrBtm .iSearch {
        display:flex;
        justify-content: flex-start;
        width:120px;
    }
  
    .hdrBtm .iSearch .btn-cari{
        display:none;
        
    }
   
    .hdrBtm .iSearch .icKeranjang > img{
        width:24px;
        height:24px;
    }
    .indKate{
        max-width: 390px;
    }

    .indKate .jnsKate{
        max-width: 358px;
        height:100vh;
    }
    .indKate .jnsKate .ktk{
        align-items: center;
        width:119px;
        height:134px;
    }
    .inTagihan{
        width: 390px;
        display: flex;
        align-items: center;
    }
    .inTagihan .h3Tag{
        width:100%;
    }
 
    .inTagihan .entrTopPul{
        display:flex;
        width:390px;
        flex-direction: column;
        justify-content: space-between;
        }
        .desTagihan ul {
            width: 390px;
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 1px solid #AFB1B6;
          }
          .desTagihan ul li:nth-child(3),.desTagihan ul li:nth-child(4),.desTagihan ul li:nth-child(5) {
            display: none;
          }


          .inTagihan .entrTopPul{
            margin-top:5px;
            width: 390px;
            height:200px;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
           
            }
          
            .entrTopPul .entPul input{
                height: 44px;
                width:95%;
                border:1px solid #AFB1B6;
                outline:none;
                border-radius:8px;
                padding-left:35px;
            }
            hr{
                width:"100vw";
            }
            .dropdownPaket{
                width: 95%;
        
            }
            

.inTagihan .entrTopPul > button {
    width: 95%;
   
}
.container__slider {
    height: 20vh;
}
  hr{
    display:none;
  } 
  
  .indBan {
    width: 100%;
  }

  .indBan .deDis1, .indBan .deDis2 {
    flex-direction: column;
    display: flex;
    padding: 15px;
    width:100%;
    height: 100%;
        
    }
    .indBan .deDis1 .cardDis1,  .indBan .deDis2 .cardDis2 {
    width:100%;
    height: 100%;
    }

    .indBan .deDis1 .cardDis1 > button,  .indBan .deDis2 .cardDis2 >button {
        margin-top: 8px;
    }

    .carDetail {
        width: 100%;

    }
    .carDetail .cardTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
    }
    .carDetail{
        width: 100%;
        height: 100%;
       
    }
    .carDetail  .inRenCus{
        width:100%;
        height:100%;
       display:flex;
       justify-content: column;
    }
    .carDetail     .inRenCus .inRenCusDet{
        width:100%;
        height:100%;
        display:flex;
        justify-content: space-around;
        flex-direction:row;
        flex-wrap: wrap;
    }
}


  


  
  

  
  